:root {
  --background-color: rgb(177, 107, 241);
  --body-color: rgb(247, 239, 239);
  --text-color: blueviolet;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--body-color);
  /*background-image: linear-gradient(to right, var(--background-color), pink);*/
}
nav {
  width: 100%;
  background-image: linear-gradient(to right, pink, var(--background-color));
}
.nav-link {
  color: white !important;
}
.header-text {
  color: white;
}
.toggle-icon {
  background-color: white;
}
