.img-yel {
  width: 80%;
  height: 80%;
  object-fit: cover;
  object-position: center;
  border: 1px solid var(--background-color);
  padding: 4px;
}
.gal-header {
  position: relative;
  margin-top: 10%;
}
.gal-header-text {
  font-size: 1.5em;
}
