.photo {
  width: 70%;
  height: 90%;
  object-fit: cover;
  object-position: center;
}
.top-text {
  font-size: 1.5em;
  color: var(--text-color);
}
.gal-header-text {
  color: var(--text-color);
  font-size: 2em;
  text-shadow: 2px 2px var(--background-color);
}
.name-link {
  color: var(--text-color);
}
