.img-yel {
  width: 80%;
  height: 80%;
  object-fit: cover;
  object-position: center;
  border: 1px solid var(--background-color);
  box-shadow: 1px 1px 10px var(--background-color);
  padding: 10%;
}
.gal-header {
  position: relative;
  margin-top: 10%;
}
.gal-header-text {
  font-size: 1.5em;
  color: blueviolet;
  margin-top: 50px;
}
.photo-gallery-text {
  color: blueviolet;
  width: 80%;
  margin: 0 auto;
}
.photo-container {
  margin-top: 5%;
}
.caption {
  padding: 10px;
  color: blueviolet;
}
