.one-ppl-img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.three-ppl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.body-container {
  margin-top: 80px;
}
.one-ppl-img:hover {
  opacity: 0.7;
}
.wish-header {
  margin-top: 60px;
  color: var(--background-color);
}
.body-container {
  text-align: center;
  margin: 0 auto;
  border: 1px solid var(--background-color);
  box-shadow: 1px 1px 10px var(--background-color);
}
.card-container {
  margin: 0 auto;
  display: block;
}
.card-img-top {
  width: 70%;
  height: 70%;
  object-fit: cover;
  object-position: center;
}
.wish-header {
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .wish-header {
    font-size: 20px;
    padding: 50px;
  }
  .wish,
  .wish-list {
    flex-wrap: wrap;
  }
  .wish-list {
    margin: 20px auto;
  }
}

.container-wishes {
  width: 70%;
  display: block;
  margin: 30px auto;
}
.wish-name {
  color: var(--background-color);
  font-size: 1.5em;
}
.wish-list {
  width: 70%;
  display: block;
  margin: 0 auto;
}
.wish,
.wish-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.wish-photo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px var(--background-color);
}
.wish-text {
  padding: 20px;
}
button {
  border: none;
  box-shadow: 1px 1px 10px var(--background-color);
  background-color: var(--background-color);
  padding: 3px;
  border-radius: 4px;
}
.list-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
